# VIM swap files
*.sw*
.*.sw*
[._]*.sw[a-p]
[._]sw[a-p]

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Temp directories
**/storj
**/gateway-mt
**/tardigrade-satellite-theme
**/cockroach-data
